html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
#header img {
    max-height: 50px;
}

#content-wrapper {
    width: 100%;
    position: relative;
}

#content-wrapper .emphase {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#content-wrapper img {
    width: 100%;
}
@media print {
    #header {
        display: none !important;
    }

    td {
        page-break-inside: avoid;
    }
}