{% extends "index.html" %}

{% block content %}
<div id="content-wrapper">
    <img src="../ressources/needles.jpg" alt="" >

    <div class="emphase pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto my-auto text-center align-middle">
        <h1 class="display-4">Our goal</h1>
        <p class="lead">Deliver an online service allowing you to consult the list of symptoms of the main pathologies in acupuncture</p>
    </div>
</div>
<div id="content-wrapper">
    <table>
        <th>Pathologie</th>
        <th>Symptomes</th>
        {% for pathologie in pathologies %}
            <tr>
                <td>{{pathologie.desc}}</td>
                <td>
                    {% for symp in pathologie.symptomes %}
                        <li>{{ symp.desc }}</li>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<p class="important">
    Voici votre menu de la semaine:
    <dl>
        <dt>Lundi</dt>
        <dt>Mardi</dt>
        <dd>{{Mardi}}</dd>
        <dt>Mercredi</dt>
        <dd>{{Mercredi}}</dd>
        <dt>Jeudi</dt>
        <dd>{{Jeudi}}</dd>
    </dl>
</p>
{% endblock %}