{% extends "index.html" %}

{% block content %}
<div id="content-wrapper">
    <form action="" method="get">
        <input type="hidden" name="route" value="listFiltered">
        <select name="pathologies[]" id="pathologies" multiple>
            {% for pathologie in pathologies %}
                <option value={{pathologie.idp}}>{{pathologie.desc}}</option>
            {% endfor %}
        </select>
        <select name="symptomes[]" id="symptomes" multiple>
            {% for symptome in symptomes %}
                <option value={{symptome.ids}}>{{symptome.desc}}</option>
            {% endfor %}
        </select>
        <select name="keywords[]" id="keywords" multiple>
            {% for keyword in keywords %}
                <option value={{keyword.idk}}>{{keyword.name}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary mt-3">Filter</button>
    <table class="table">
        <thead>
            <th>Pathologie</th>
            <th>Symptomes</th>
            <th>Mots-clefs</th>
        </thead>
        <tbody>
            {% for pathologie in pathologies %}
                <tr>
                    <td>{{pathologie.desc}}</td>
                    <td>
                        {% for symp in pathologie.symptomes %}
                            <li>{{ symp.desc }}</li>
                        {% endfor %}
                    </td>
                    <td>
                        {% for keyword in pathologie.keywords %}
                            <li>{{ keyword }}</li>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}